<footer class="py-5">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2019 Voyce
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="#" class="nav-link" target="_blank">Sobre nós</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" target="_blank">Política de Privacidade</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>