<%= render 'guests/navbar' %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center mb-4">
            <h2><%= I18n.t('guest.login.titles.login_card_title') %></h2>
          </div>

          <%= render 'layouts/messages' %>

          <%= form_with(url: guest_access_account_path, method: "post") do %>

            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <input class="form-control" placeholder="<%= I18n.t('guest.login.fields.email') %>" type="email" name="email" required autofocus>
              </div>
            </div>

            <br>

            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
                <input class="form-control" name="password" placeholder="<%= I18n.t('guest.login.fields.password') %>" type="password" value="" required>
              </div>
            </div>

            <div class="text-center">
              <%= button_tag I18n.t('guest.login.buttons.login'), class: "btn btn-primary my-4" %>
            </div>

          <% end %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-7">
<!--          <a href="#" class="text-light">-->
<!--            <small>-->
              <%#= I18n.t('guest.login.buttons.forgot_password') %>
<!--            </small>-->
<!--          </a>-->
        </div>
        <div class="col-5 text-right">
<!--          <a href="#" class="text-light">-->
<!--            <small>-->
              <%#= I18n.t('guest.login.fields.like_app_message') %>
<!--            </small>-->
<!--          </a>-->
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'guests/footer' %>