<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center mb-5">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <%= image_tag(current_user_image, class: 'rounded-circle') %>
            </div>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">
                    <%= quantity_followers %>
                  </span>
                  <span class="description">
                    <%= I18n.t('dashboard.home.fields.followers') %>
                  </span>
                </div>
                <div>
                  <span class="heading">
                    <%= quantity_sponsors %>
                  </span>
                  <span class="description">
                    <%= I18n.t('dashboard.home.fields.sponsorings') %>
                  </span>
                </div>
                <div>
                  <span class="heading">
                    <%= quantity_listeners %>
                  </span>
                  <span class="description">
                    <%= I18n.t('dashboard.home.fields.listeners') %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              <%= current_user_name %><span class="font-weight-light"><%= current_user_age %></span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i><%= current_user_location %>
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i><%= current_user_contact %>
            </div>
            <hr class="my-4" />
            <div class="media align-items-center justify-content-center">
              <a href="<%= current_user_facebook_link %>" target="_blank" class="btn btn-facebook btn-icon-only mr-5 " <%= mount_data_target_modal(0) %>>
                <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
              </a>
              <a href="<%= current_user_instagram_link %>" target="_blank" class="btn btn-instagram btn-icon-only mr-0" <%= mount_data_target_modal(1) %>>
                <span class="btn-inner--icon"><i class="fab fa-instagram"></i></span>
              </a>
              <a href="<%= current_user_twitter_link %>" target="_blank" class="btn btn-twitter btn-icon-only ml-5" <%= mount_data_target_modal(1) %>>
                <span class="btn-inner--icon"><i class="fab fa-twitter"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h2 class="mb-0"><%= I18n.t('dashboard.user_to_artist.my_account') %></h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= form_tag action do %>
            <h6 class="heading-small text-muted mb-4">
              <%= I18n.t('dashboard.user_to_artist.user_informations') %>
            </h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="username">
                      <%= I18n.t('dashboard.user_to_artist.fields.user_name') %>
                    </label>
                    <input type="text" id="username" name="username" class="form-control form-control-alternative" placeholder="<%= I18n.t('dashboard.user_to_artist.placeholder.user_name') %>" value="<%= current_user_name %>" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="email">
                      <%= I18n.t('dashboard.user_to_artist.fields.email') %>
                    </label>
                    <input type="email" id="email" name="email" class="form-control form-control-alternative" placeholder="<%= I18n.t('dashboard.user_to_artist.placeholder.user_email') %>" value="<%= current_user_email %>" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="complete_name">
                      <%= I18n.t('dashboard.user_to_artist.fields.complete_name') %>
                    </label>
                    <input type="text" id="complete_name" name="complete_name" class="form-control form-control-alternative" placeholder="<%= I18n.t('dashboard.user_to_artist.placeholder.complete_name') %>" value="<%= current_user_complete_name %>" required>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="phone_number">
                      <%= I18n.t('dashboard.user_to_artist.fields.phone_number') %>
                    </label>
                    <input type="text" id="phone_number" name="phone_number" class="new_phone_with_ddd form-control form-control-alternative" placeholder="<%= I18n.t('dashboard.user_to_artist.placeholder.phone_number') %>" value="<%= current_user_phone %>" required>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="select_gender">
                      <%= I18n.t('dashboard.user_to_artist.buttons.gender') %>
                    </label>
                    <select id="select_gender" name="select_gender" class="browser-default custom-select form-control-alternative">
                      <%= generate_gender_options %>
                    </select>
                  </div>
                </div>

              </div>
            </div>
            <hr class="my-4" />
            <!-- Social media -->
            <h6 class="heading-small text-muted mb-4">
              <%= I18n.t('dashboard.user_to_artist.fields.social_media') %>
            </h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="facebook_link">
                      <%= I18n.t('dashboard.user_to_artist.fields.facebook') %>
                    </label>
                    <input type="text" id="facebook_link" name="facebook_link" class="form-control form-control-alternative" placeholder="<%= I18n.t('dashboard.user_to_artist.placeholder.social_media_link') %>" value="<%= current_user_facebook_link %>">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="instagram_link">
                      <%= I18n.t('dashboard.user_to_artist.fields.instagram') %>
                    </label>
                    <input type="text" id="instagram_link" name="instagram_link" class="form-control form-control-alternative" placeholder="<%= I18n.t('dashboard.user_to_artist.placeholder.social_media_link') %>" value="<%= current_user_instagram_link %>">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="twitter_link">
                      <%= I18n.t('dashboard.user_to_artist.fields.twitter') %>
                    </label>
                    <input type="text" id="twitter_link" name="twitter_link" class="form-control form-control-alternative" placeholder="<%= I18n.t('dashboard.user_to_artist.placeholder.social_media_link') %>" value="<%= current_user_twitter_link %>">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">
              <%= I18n.t('dashboard.user_to_artist.fields.contact_information') %>
            </h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label" for="city">
                      <%= I18n.t('dashboard.user_to_artist.fields.city') %>
                    </label>
                    <input type="text" id="city" name="city" class="form-control form-control-alternative" placeholder="<%= I18n.t('dashboard.user_to_artist.placeholder.city') %>" value="<%= current_user_city %>" required>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="state">
                      <%= I18n.t('dashboard.user_to_artist.fields.state') %>
                    </label>
                    <input type="text" id="state" name="state" class="form-control form-control-alternative" placeholder="<%= I18n.t('dashboard.user_to_artist.placeholder.state') %>" value="<%= current_user_state %>" required>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">
              <%= I18n.t('dashboard.user_to_artist.fields.biography') %>
            </h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label for="about_me">
                  <%= I18n.t('dashboard.user_to_artist.fields.about_me') %>
                </label>
                <textarea id="about_me" name="about_me" class="form-control form-control-alternative" placeholder="<%= I18n.t('dashboard.user_to_artist.placeholder.about_me') %>" required><%= current_user_biography %></textarea>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-outline-warning w-25">
                <%= button_name %>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="social-media-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"><%= I18n.t('dashboard.user_to_artist.social_media_modal') %></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= I18n.t('dashboard.user_to_artist.social_media_modal_description') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary w-25" data-dismiss="modal">
          <%= I18n.t('dashboard.user_to_artist.buttons.modal_button_ok') %>
        </button>
      </div>
    </div>
  </div>
</div>