<div class="header dashboard-bg-gradient-primary pb-8 pt-5 pt-md-7">

  <%= render 'layouts/messages' %>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"><%= I18n.t('dashboard.home.fields.followers') %></h5>
                  <span class="h2 font-weight-bold mb-0">
                    <%= quantity_followers %>
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-user-plus"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap"><%= I18n.t('dashboard.home.fields.total') %></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"><%= I18n.t('dashboard.home.fields.sponsorings') %></h5>
                  <span class="h2 font-weight-bold mb-0">
                    <%= quantity_sponsoring %>
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap"><%= I18n.t('dashboard.home.fields.total') %></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"><%= I18n.t('dashboard.home.fields.listeners') %></h5>
                  <span class="h2 font-weight-bold mb-0">
                    <%= quantity_listeners %>
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-assistive-listening-systems"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap"><%= I18n.t('dashboard.home.fields.per_month') %></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"><%= I18n.t('dashboard.home.fields.goal') %></h5>
                  <span class="h2 font-weight-bold mb-0">
                     <%=
                      value = current_user[:goal].present? && current_user[:goal][:goal_current_value].present? ? current_user[:goal][:goal_current_value] : nil
                      format_currency_br(value)
                     %>
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-money-bill-wave"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap"><%= I18n.t('dashboard.home.fields.goal_of') %></span>
                <span class="text-success mr-2">
                  <%=
                    value = current_user[:goal].present? ? current_user[:goal][:value] : nil
                    format_currency_br(value)
                  %>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'resume_musics' %>