<%= render 'dashboard/partials_shared/sidebar' %>

<div class="main-content">

  <%= render 'dashboard/partials_shared/navbar' %>

  <%= render partial: 'dashboard/partials_shared/header', locals: {
      description: 'Aqui você pode visualizar e editar os seus planos de patrocínio.',
      title: 'Gerencie seus planos',
      css_class: 'col-lg-12 col-12'
  } %>

  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col-8 text-uppercase">
                <h3 class="mb-0"><%= I18n.t('dashboard.proposals.titles.proposals') %></h3>
              </div>
              <div class="col-4 text-right">
                <a href="<%= dashboard_new_proposals_path %>" class="btn btn-1 btn-outline-success">
                  <%= I18n.t('dashboard.proposals.buttons.create_proposal') %>
                </a>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col"><%= I18n.t('dashboard.proposals.fields.proposal') %></th>
                  <th scope="col"><%= I18n.t('dashboard.proposals.fields.price') %></th>
                  <th scope="col" class="text-right"></th>
                </tr>
              </thead>
              <tbody>
                <% if @all_proposals.present? && @all_proposals.first.present? %>

                  <% @all_proposals.each do |proposal| %>
                    <tr>
                      <td>
                        <div class="media align-items-center">
                          <a href="#" class="avatar rounded-circle mr-3">
                            <img alt="<%= proposal.data[:name] %>" src="<%= proposal.data[:image] %>">
                          </a>
                          <div class="media-body">
                          <span class="mb-0 text-sm">
                            <%= proposal.data[:name] %>
                          </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="text-success mr-2">
                          <%= format_currency_br(proposal.data[:price]) %>
                        </span>
                      </td>
                      <td class="text-right">
                        <a class="btn btn-outline-warning w-25" href="<%= dashboard_edit_proposals_path(proposal.document_id) %>">
                          <i class="fas fa-edit"></i>
                        </a>
                      </td>
                    </tr>
                  <% end %>

                <% else %>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center mt-3">
                        <div class="media-body">
                          <span class="mb-0 text-sm">
                            <%= I18n.t('dashboard.proposals.fields.no_proposals') %>
                          </span>
                        </div>
                      </div>
                    </th>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- Pagination -->
          <div class="card-footer py-4">
            <nav class="d-flex justify-content-end" aria-label="...">

            </nav>
          </div>
        </div>
      </div>
    </div>

    <%= render 'dashboard/partials_shared/footer' %>

  </div>

</div>