<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="<%= dashboard_url %>">
          <%= image_tag('voyce-logo.jpg', class: "navbar-brand-img img-responsive", alt: I18n.t('dashboard.home.placeholders.voyce_logo')) %>
        </a>
        <!-- User -->
        <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0"><%= I18n.t('dashboard.home.titles.welcome') %></h6>
                    </div>
                    <a href="#" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span><%= I18n.t('dashboard.home.buttons.profile') %></span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item" onclick="event.preventDefault();
                    document.getElementById('logout-form').submit();">
                        <i class="ni ni-user-run"></i>
                        <span><%= I18n.t('dashboard.home.buttons.logout') %></span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="<%= dashboard_url %>">
                          <%= image_tag('voyce-logo.jpg', class: "navbar-brand-img img-responsive", alt: I18n.t('dashboard.home.placeholders.voyce_logo')) %>
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Navigation -->
            <% unless is_only_listener? %>
              <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="<%= dashboard_url %>">
                        <i class="fas fa-home text-primary"></i>&nbsp;<%= I18n.t('dashboard.home.buttons.home_page') %>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= dashboard_musics_url %>">
                      <i class="fas fa-music text-primary"></i>&nbsp;<%= I18n.t('dashboard.home.buttons.musics') %>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= dashboard_proposals_url %>">
                        <i class="fas fa-hand-holding-usd text-primary"></i>&nbsp;<%= I18n.t('dashboard.home.buttons.proposals') %>
                    </a>
                  </li>
<!--                  <li class="nav-item">-->
<!--                      <a class="nav-link" href="#">-->
<!--                          <i class="fas fa-chart-line text-primary"></i>&nbsp;<%#= I18n.t('dashboard.home.buttons.goals') %>-->
<!--                      </a>-->
<!--                  </li>-->
              </ul>
            <% end %>
        </div>
    </div>
</nav>